<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="https://cdn.tailwindcss.com"></script>
  <title>Google Drive Killer</title>
  <style>
      body, html {
          height: 100%;
          margin: 0;
      }
      .flex-container {
          display: flex;
          flex-direction: column;
          min-height: 100vh;
      }
      .content {
          flex: 1;
      }
  </style>
</head>
<body>

<div class="flex-container">
  <header class="bg-yellow-500 p-4 shadow-md">
    <h1 class="text-2xl text-center text-white font-bold">Google Drive Killer</h1>
  </header>

  <div class="container mx-auto p-12 content">
    <div class="grid  grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-5 gap-4">
      <div th:each="directory : ${directories}" class="bg-gray-200 p-4 rounded-lg shadow-md min-h-32 flex items-center justify-center">
        <h2 th:text="${directory.name}" class="text-xl font-bold"></h2>
      </div>

<!--      <div class="bg-gray-200 p-4 rounded-lg shadow-md min-h-32 flex items-center justify-center">-->
<!--        <h2 class="text-xl font-bold">Folder 2</h2>-->
<!--      </div>-->
<!--      <div class="bg-gray-200 p-4 rounded-lg shadow-md min-h-32 flex items-center justify-center">-->
<!--        <h2 class="text-xl font-bold">Folder 3</h2>-->
<!--      </div>-->
<!--      <div class="bg-gray-200 p-4 rounded-lg shadow-md min-h-32 flex items-center justify-center">-->
<!--        <h2 class="text-xl font-bold">Folder 4</h2>-->
<!--      </div>-->
<!--      <div class="bg-gray-200 p-4 rounded-lg shadow-md min-h-32 flex items-center justify-center">-->
<!--        <h2 class="text-xl font-bold">Folder 5</h2>-->
<!--      </div>-->
<!--      <div class="bg-gray-200 p-4 rounded-lg shadow-md min-h-32 flex items-center justify-center">-->
<!--        <h2 class="text-xl font-bold">Folder 6</h2>-->
<!--      </div>-->
    </div>
  </div>

  <footer class="bg-red-500 p-4 shadow-md text-center">
    <a href="https://github.com/ibobrov" class="text-white font-bold">GitHub: ibobrov</a>
  </footer>
</div>
</body>
</html>