<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="https://cdn.tailwindcss.com"></script>
  <title>Google Drive Killer</title>
  <style>
      body, html {
          height: 100%;
          margin: 0;
      }
      .flex-container {
          display: flex;
          flex-direction: column;
          min-height: 100vh;
      }
      .content {
          flex: 1;
      }
  </style>
</head>
<body>

<div class="flex-container">
  <header class="bg-yellow-500 p-4 shadow-md">
    <h1 class="text-2xl text-center text-white font-bold">Google Drive Killer</h1>
  </header>

  <div class="container mx-auto p-12 content">
    <div class="grid  grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-5 gap-4">

      <div th:each="directory : ${directories}" class="bg-gray-200 p-4 rounded-lg shadow-md min-h-32 flex items-center justify-center">
        <h2 th:text="${directory.name}" class="text-xl font-bold"></h2>
      </div>

      <!-- Добавить кнопку и модальное окно в index.html -->
      <button id="addFolderButton" class="bg-blue-500 text-white p-2 rounded min-h-32 flex items-center justify-center">Добавить папку</button>

      <div id="addFolderModal" class="fixed inset-0 flex items-center justify-center bg-black bg-opacity-50 hidden">
        <div class="bg-white p-6 rounded-lg shadow-lg">
          <h2 class="text-xl font-bold mb-4">Добавить новую папку</h2>
          <input type="text" id="folderNameInput" class="border p-2 w-full mb-4" placeholder="Введите имя новой папки">
          <div class="flex justify-end">
            <button id="cancelButton" class="bg-gray-500 text-white p-2 rounded mr-2">Отмена</button>
            <button id="saveButton" class="bg-green-500 text-white p-2 rounded">Сохранить</button>
          </div>
        </div>
      </div>

    </div>
  </div>

  <footer class="bg-red-500 p-4 shadow-md text-center">
    <a href="https://github.com/ibobrov" class="text-white font-bold">GitHub: ibobrov</a>
  </footer>

  <script>
      document.getElementById('addFolderButton').addEventListener('click', function() {
          document.getElementById('addFolderModal').classList.remove('hidden');
      });

      document.getElementById('cancelButton').addEventListener('click', function() {
          document.getElementById('addFolderModal').classList.add('hidden');
      });

      document.getElementById('saveButton').addEventListener('click', function() {
          const folderName = document.getElementById('folderNameInput').value;
          if (folderName) {
              fetch('/api/folders', {
                  method: 'POST',
                  headers: {
                      'Content-Type': 'application/json'
                  },
                  body: JSON.stringify({ name: folderName })
              })
                  .then(response => response.json())
                  .then(data => {
                      if (data.success) {
                          alert('Папка успешно добавлена!');
                          location.reload();
                      } else {
                          alert('Ошибка при добавлении папки.');
                      }
                  })
                  .catch(error => console.error('Ошибка:', error));
          }
      });
  </script>
</div>
</body>
</html>